// ---------------- IMPORTS -----------------------

@import "./base/base";
@import "./base/vars";
@import "./base/fonts";

@import "./blocks/header";
@import "./blocks/scores";
@import "./blocks/whyUs";
@import "./blocks/directions";
@import "./blocks/request";
@import "./blocks/affiliate";
@import "./blocks/partner";
@import "./blocks/franchisee";
@import "./blocks/steps";
@import "./blocks/invite";
@import "./blocks/footer";
@import "./blocks/modals";

// ----------------- GLOBAL ---------------------

* {
  font-family: "Gilroy", "Arial", sans-serif;
}

body {
  position: relative;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
}
