// ---------------- RECOGNIZE ---------------------

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;

// ----------------- COLORS -----------------------

$mainText: #333333;
$greyText: #4f4f4f;
$accentOrange: #f88241;
$accentOrangeHover: #d56223;
$accentYellow: #d4de4e;
$accentGreen: #688223;
$lightGrey: #bdbdbd;
