@import "../base/vars";

.directions {
  padding-top: 90px;

  &__wrapper {
  }

  &__header {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: $mainText;
    margin-bottom: 46px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;
  }

  &__direction {
  }
}
.direction {
  flex: 0 1 19%;

  &__image {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    border: 1px solid $accentYellow;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;

    &-one {
      background-image: url("./../../img/Directions/direction1.png");
    }
    &-two {
      background-image: url("./../../img/Directions/direction2.png");
    }
    &-three {
      background-image: url("./../../img/Directions/direction3.png");
    }
    &-four {
      background-image: url("./../../img/Directions/direction4.png");
    }
    &-five {
      background-image: url("./../../img/Directions/direction5.png");
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $greyText;
    width: 90%;
  }
}
